@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
  color: #4f4f4f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  visibility: visible;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  color: #5b5b5b;
  font-weight: 400;
}

p:last-child {
  margin-bottom: 0;
}

a, button {
  text-decoration: none;
  color: inherit;
}

a, i, button, img, input, span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

* {
  &:before, &:after {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  &:focus {
    outline: 0px solid;
  }
}

a {
  &:focus {
    color: #4f4f4f;
    outline: medium none;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: 6px solid #2d3e50;
  margin-bottom: 40px;
  padding: 25px;
  p {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
  }
}

/* Common Class */

.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.height-100vh {
  height: 100vh;
}

.height-100 {
  height: 100%;
  .flex-viewport {
    height: 100%;
  }
}

.table {
  display: table !important;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.table-cell {
  display: table !important;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  display: table-cell !important;
  vertical-align: middle;
}

.row-55 {
  margin-left: -55px;
  margin-right: -55px;
}

/* Margin */

.mt-0 {
  margin-top: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
  @media only screen and (max-width: 768px) {
    margin-top: 30px;
  }
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

/* Padding */

.pt-0 {
  padding-top: 0px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
  @media only screen and (max-width: 768px) {
    padding-top: 50px;
  }
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
  @media only screen and (max-width: 768px) {
    padding-bottom: 25px;
  }
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.bg-light {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #f5f5f5;
}

/* Section Title */

.section-title {
  h2 {
    color: #4f4f4f;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 25px;
    padding-bottom: 25px;
    position: relative;
    text-transform: capitalize;
    span {
    }
    &:before, &:after {
      content: "";
      height: 2px;
      position: absolute;
      background-color: #7c7c7c;
    }
    &:before {
      bottom: 0;
      width: 70px;
    }
  }
  &.text-left h2:before {
    left: 0;
  }
  &.text-center h2:before {
    left: 50%;
    margin-left: -35px;
  }
  h2:after {
    bottom: 5px;
    width: 40px;
  }
  &.text-left h2:after {
    left: 0;
  }
  &.text-center h2:after {
    left: 50%;
    margin-left: -20px;
  }
  p {
  }
}

/* Btn */

.btn {
  border: 1px solid transparent;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  line-height: 52px;
  padding: 0 47px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  &:before {
    border-radius: 50px;
    bottom: -1px;
    content: "";
    display: block;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: -1;
  }
  &:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  &.transparent {
    background-color: transparent;
  }
  &.black {
    border-color: #2d3e50;
    color: #2d3e50;
  }
  &.hover-white:hover:before {
    background-color: #fff;
  }
  &.hover-black:hover {
    color: #fff;
    &:before {
      background-color: #2d3e50;
    }
  }
}

/* Input Placeholder */

input:-moz-placeholder, textarea:-moz-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input::-moz-placeholder, textarea::-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* Parallax Css */

.parallax-window {
  background: transparent;
}

.parallax-slider, .backstretch img {
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
}

/* Slideshow BG Css */

/* Kenburnsy Slideshow */

.kenburnsy {
  overflow: hidden;
  position: absolute;
  width: 100%;
  &.fullscreen {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
  }
  img {
    display: none;
  }
  .slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }
}

/* Hero Video Overlay Css */

.video-container {
  position: relative;
  &:before {
    background-color: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

/* Hero Youtube Css */

#controlBar_hero.mb_YTPBar {
  display: none !important;
}

.mbYTP_wrapper {
  z-index: -2 !important;
}

.youtube-bg:before, .vimeo-bg:before {
  background-color: #000;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* Box Layout */

.boxed-layout {
  .layout-wrapper {
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
    float: none;
    margin: 0 auto;
    max-width: 1200px;
  }
  .row-55 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .hero-social-1 {
    margin-right: -15px;
  }
  .hs1-control .flex-control-nav {
    margin-left: -15px;
  }
  .scroll-down-2 {
    margin-left: 0;
  }
  .about-image img {
    max-width: 110%;
  }
}

/* Preloader Css */

.preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  z-index: 99999999;
}

.loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

.loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

.object {
  width: 50px;
  height: 5px;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;
  position: absolute;
  top: 0px;
  right: -200px;
}

@-webkit-keyframes animate {
  50% {
    -ms-transform: translate(-400px, 0) rotate(-360deg);
    -webkit-transform: translate(-400px, 0) rotate(-360deg);
    transform: translate(-400px, 0) rotate(-360deg);
  }

  100% {
    -ms-transform: translate(0, 0) rotate(360deg);
    -webkit-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes animate {
  50% {
    -ms-transform: translate(-400px, 0) rotate(-360deg);
    -webkit-transform: translate(-400px, 0) rotate(-360deg);
    transform: translate(-400px, 0) rotate(-360deg);
  }

  100% {
    -ms-transform: translate(0, 0) rotate(360deg);
    -webkit-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}

/* Scroll up */

#scrollUp {
  background-color: #fff;
  bottom: 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 30px;
  height: 40px;
  line-height: 44px;
  right: 30px;
  text-align: center;
  width: 40px;
  &:hover {
    color: #fff;
  }
  i {
    line-height: 40px;
  }
}

/*----------------------------------------*/
/*  2.  Header Area
/*----------------------------------------*/

#header-area {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99999;
  top: 0;
}

.header-area, .header-top-1 {
}

/* Header Top */

.header-top-wrapper-1 ul {
  float: right;
  padding: 10px 0;
  li {
    color: #d9d9d9;
    display: block;
    float: left;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 30px;
    + li {
      margin-left: 36px;
    }
    span {
      display: block;
      float: left;
      margin-right: 5px;
    }
    p {
      display: block;
      float: left;
      overflow: hidden;
    }
    a {
      display: block;
      float: left;
      overflow: hidden;
      &:hover {
      }
    }
  }
}

/* Header Bottom */

.header-bottom-1.stick {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #44b272;
}

.header-bottom-wrapper-1 {
  padding-bottom: 40px;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.stick {
  .header-bottom-wrapper-1 {
    padding-bottom: 10px;
    padding-top: 20px;
    .logo {
      padding: 18px 45px;
      margin-top: 20px;
      top: -20px;
      .logo-image {
        background: url("../../images/logo-white.png") no-repeat;
        background-size: 75%;
        @media only screen and (max-width: 992px) {
          background-size: 50%;
        }
      }
    }
  }
  .menu-phone {
    color: #ffffff;
  }
}

.header-bottom-wrapper-1 .logo {
  bottom: 0;
  display: block;
  left: 0;
  padding: 58px 47px;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 9999999;
  top: -40px;
  .logo-image {
    width: 180px;
    height: 67px;
    background: url("../../images/logo.png") no-repeat;
    @media only screen and (max-width: 992px) {
      background-size: 50%;
    }
  }
}

/* Menu */

.main-menu {
  margin-right: 20px;
  nav ul li {
    display: block;
    float: left;
    padding: 2px 0;
    color: #fff;
    + li {
      margin-left: 36px;
    }
    a {
      color: #fff;
      display: block;
      font-family: 'Montserrat';
      font-weight: normal;
      line-height: 26px;
      position: relative;
      text-transform: uppercase;
      &:before, &:after {
        background-color: #fff;
        content: "";
        height: 2px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        position: absolute;
        width: 100%;
      }
      &:before {
        left: 0;
        top: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
      &:hover {
        &:before, &:after {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          width: 14px;
        }
      }
    }
    &.active a {
      &:before, &:after {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        width: 14px;
      }
    }
  }
}

/* Search Button */

.header-search {
  background-color: transparent;
  border: medium none;
  color: #fff;
  display: block;
  margin-left: 20px;
  margin-right: 5px;
  padding: 0 10px;
  i {
    display: block;
    font-size: 20px;
    line-height: 30px;
  }
}

/*-- Search Area --*/

.search-area {
  background-color: #fff;
  left: 0;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 99999;
  &.active {
    top: 0;
  }
}

.search-form {
  position: relative;
  .search-close {
    background-color: transparent;
    border: medium none;
    left: 50%;
    margin-left: -20px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    padding: 0;
    position: absolute;
    top: -100px;
    &:hover {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    i {
      display: block;
      font-size: 40px;
      width: 40px;
    }
  }
  form input {
    background-color: transparent;
    border-color: #4f4f4f;
    border-style: solid;
    border-width: 0 0 1px;
    font-size: 40px;
    font-weight: 500;
    line-height: 70px;
    max-width: 600px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    padding: 0 30px;
    text-align: center;
    width: 100%;
  }
}

/* Mobile Menu */

.mobile-menu {
  float: left;
  width: 100%;
}

.mean-container {
  a.meanmenu-reveal {
    display: block;
    height: 30px;
    text-align: center;
    top: -30px;
    width: 40px;
  }
  .mean-nav {
    float: none;
    margin: 0 -15px;
    width: auto;
    ul {
      background-color: rgba(0, 0, 0, 0.15);
      float: left;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      @media only screen and (max-width: 992px) {
        background-color: #44b272;
      }
    }
  }
}

/*----------------------------------------*/
/*  3.  Hero Area
/*----------------------------------------*/

.hero-area-1 {
  position: relative;
}

/* Hero Flex Slider */

.hero-slider-1 {
  .single-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .content {
      margin-top: 50px;
      -webkit-animation-name: fadeOutDown;
      animation-name: fadeOutDown;
    }
  }
  .flex-active-slide .content {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .single-slide .content {
    h1 {
      color: #ffffff;
      font-size: 60px;
      font-weight: 600;
      line-height: 1;
      margin: 0 0 15px;
      span {
      }
    }
    p {
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      margin-bottom: 35px;
    }
    a {
    }
  }
}

/* Hero Flex Control */

.hs1-control {
  bottom: 110px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 99;
  .flex-control-nav {
    float: left;
    margin: 0 0 0 -65px;
    padding: 0;
    position: relative;
    li {
      display: block;
      float: left;
      margin-right: 11px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        background-color: #fff;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        right: -10px;
        width: 11px;
      }
      &:last-child:before {
        display: none;
      }
      a {
        color: #fff;
        float: left;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 600;
        line-height: 14px;
        padding: 0 8px;
        &.flex-active {
        }
      }
    }
  }
}

/* Hero Social */

.hero-social-1 {
  display: block;
  float: right;
  margin-right: -65px;
  position: relative;
  a {
    color: #ffffff;
    display: block;
    float: left;
    padding: 0 10px;
    &:hover {
    }
    i {
      display: block;
      font-size: 16px;
    }
  }
}

/* Hero Scroll Down */

.hero-scroll-down {
  border: 1px solid transparent;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 31px;
  text-align: center;
  width: 31px;
  z-index: 9999;
}

.scroll-down-1 {
  bottom: 105px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
}

.scroll-down-2 {
  float: left;
  margin-left: -55px;
  margin-top: -7px;
}

.hero-scroll-down {
  &:hover, &:focus {
  }
  i {
    display: block;
    font-size: 20px;
    line-height: 30px;
  }
}

/* Hero Static Text */

.hero-static-text {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .content {
    margin-top: 50px;
    h1 {
      color: #ffffff;
      font-size: 60px;
      font-weight: 600;
      line-height: 1;
      margin: 0 0 15px;
      span {
      }
    }
    p {
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      margin-bottom: 35px;
    }
    a {
    }
  }
}

/*----------------------------------------*/
/*  4.  About Area
/*----------------------------------------*/

.about-area {
}

.about-image img {
  display: block;
  float: right;
  max-width: none;
}

.about-content {
  margin-top: 85px;
  padding-left: 75px;
  p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  a {
    margin-top: 15px;
    &:hover {
      color: #fff;
    }
  }
  p.contact {
    @media only screen and (max-width: 479px) {
      text-align: center;
    }
  }
}

/*----------------------------------------*/
/*  5.  Service Area
/*----------------------------------------*/

.service-area {
}

.single-service {
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }
  i {
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  h4 {
    color: #666666;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 0 12px;
    text-transform: uppercase;
  }
  p {
    color: #878787;
  }
}

/*----------------------------------------*/
/*  6.  Portfolio Area
/*----------------------------------------*/

.portfolio-area {
}

.portfolio-filter {
  margin-bottom: 80px;
  ul li {
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    color: #606060;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    height: 27px;
    line-height: 28px;
    margin: 0 5px;
    min-width: 60px;
    padding: 0 17px;
    &:hover {
    }
    &.active {
      color: #fff !important;
    }
  }
}

/* Portfolio Container */

#portfolio-container {
}

.mix {
  display: none;
}

.single-portfolio {
  margin-bottom: 30px;
  .image {
    position: relative;
    &:before {
      bottom: 0;
      content: "";
      left: 0;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &:hover .image:before {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
  .image img {
    width: 100%;
  }
  .content {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    bottom: 22px;
    left: 45px;
    position: absolute;
    right: 45px;
  }
  &:hover .content {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .content {
    .title {
      color: #fff;
      float: left;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      margin: 0;
      a {
        display: block;
        &:hover, &:focus {
          color: #fff;
        }
      }
    }
    .icon {
      border: 1px solid #fff;
      border-radius: 50%;
      color: #fff;
      display: block;
      float: right;
      height: 26px;
      text-align: center;
      width: 26px;
      &:hover {
        background-color: #fff;
      }
      i {
        display: block;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}

/* Portfolio Modal */

.modal {
  z-index: 999999;
}

.modal-backdrop {
  z-index: 999998;
}

.single-portfolio-modal {
  background-color: #fff;
  margin: 100px auto;
  max-width: 500px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.modal-close {
  background-color: #f5f5f5;
  border: medium none;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  i {
    display: block;
    font-size: 20px;
  }
}

.single-portfolio-modal {
  .image {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  .content {
    .title {
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      margin: 0 0 15px;
    }
    p {
    }
    .details li {
      font-size: 12px;
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      span {
        display: block;
        float: left;
        font-weight: 500;
        padding-right: 20px;
        position: relative;
        width: 100px;
        &:after {
          content: ":";
          position: absolute;
          right: 15px;
        }
      }
      a:hover {
      }
    }
  }
}

/*----------------------------------------*/
/*  7.  Team Area
/*----------------------------------------*/

.team-area, .team-tab-content {
}

.team-tab-pane {
  padding-bottom: 90px;
}

.team-details {
  background-color: #f5f5f5;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  max-width: 380px;
  padding: 25px 30px 15px;
  position: relative;
  width: 100%;
  z-index: 1;
  &:after {
    background-color: #f5f5f5;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &:before {
    content: "";
    height: 246px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    width: 82px;
    z-index: -2;
  }
}

.active .team-details:before {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.team-details {
  h3 {
    color: #5e5e5e;
    font-size: 26px;
    margin: 0;
    text-transform: capitalize;
  }
  p {
    color: #858585;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.team-social a {
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
  color: #606060;
  &:hover {
  }
  i {
    display: block;
    font-size: 16px;
  }
}

.team-tab-list li {
  display: inline-block;
  margin: 0 -50px;
  position: relative;
  z-index: 9;
  &:nth-child(2) {
    z-index: 99;
  }
  a {
    display: block;
    img {
    }
  }
}

.single-funfact {
  border-right: 1px solid #fff;
  height: 60px;
  margin-bottom: 50px;
  &:last-child {
    border: none;
  }
}

.funfact-wrap {
  display: inline-block;
  i {
    color: #fff;
    display: block;
    float: left;
    font-size: 65px;
    line-height: 50px;
    margin-right: 22px;
    padding-top: 5px;
  }
  .content {
    float: left;
    text-align: left;
    h1 {
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      margin: 0;
    }
    h3 {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 300;
      margin: 0;
    }
  }
}

/*----------------------------------------*/
/*  9.  Pricing Area
/*----------------------------------------*/

.pricing-area {
}

.single-pricing {
  margin-bottom: 30px;
}

.single-pricing-wrap {
  border: 1px solid #e8e8e8;
  padding: 45px 66px 50px;
}

.active .single-pricing-wrap {
  background-color: #2d3e50;
  border-color: #2d3e50;
}

.pricing-header {
  border-bottom: 1px solid #cacfd3;
  padding-bottom: 32px;
  margin-bottom: 50px;
}

.active .pricing-header {
  border-bottom-color: rgba(187, 187, 187, 0.25);
}

.pricing-header .package {
  color: #2d3e50;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 16px;
  margin: 0 0 47px;
  text-transform: uppercase;
}

.active .pricing-header .package {
  color: #ffffff;
}

.pricing-header .price {
  display: inline-block;
  span {
    color: #2d3e50;
    display: block;
    font-family: 'Montserrat';
    float: left;
  }
}

.active .pricing-header .price span {
  color: #ffffff;
}

.pricing-header .price {
  .currency {
    font-size: 24px;
    line-height: 24px;
  }
  .amount {
    font-size: 70px;
    line-height: 52px;
    padding-right: 10px;
    margin-left: 3px;
  }
}

.pricing-items {
  margin-bottom: 50px;
  ul li {
    color: #2d3e50;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 38px;
  }
}

.active .pricing-items ul li {
  color: #ffffff;
}

.pricing-items ul li {
  color: #2d3e50;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 38px;
}

.pricing-btn .btn {
}

.active .pricing-btn .btn:hover {
  color: #2d3e50;
}

/*----------------------------------------*/
/*  10.  Testimonial Area
/*----------------------------------------*/

.testimonial-area {
}

.testimonial-slider {
  padding: 0 50px;
}

.single-testimonial {
  cursor: w-resize;
  .content {
    margin-bottom: 45px;
    padding: 45px 50px 38px;
    position: relative;
    &:before {
      border-radius: 3px;
      content: "";
      height: 30px;
      left: 50%;
      margin-left: -15px;
      margin-top: -16px;
      position: absolute;
      top: 100%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 30px;
    }
    p {
      color: #ffffff;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.testimonial-author {
  img {
    border: 2px solid transparent;
    border-radius: 50%;
    display: block;
    height: 105px;
    margin: 0 auto 10px;
    width: 105px;
  }
  h2 {
    color: #5b5b5b;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
  }
}

.testimonial-slider {
  .owl-nav div {
    color: #5b5b5b;
    display: block;
    height: 30px;
    position: absolute;
    top: 70px;
    width: 30px;
    &:hover {
    }
    i {
      display: block;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .owl-prev {
    left: -35px;
  }
  .owl-next {
    right: -35px;
  }
}

/*----------------------------------------*/
/*  11.  Blog Area
/*----------------------------------------*/

.blog-area {
}

.single-blog {
  margin-bottom: 30px;
}

.blog-media {
  display: block;
  float: left;
  padding-right: 20px;
  width: 40%;
  a {
    display: block;
    position: relative;
    &:before {
      color: #fff;
      content: "\f18e";
      font-family: "Material-Design-Iconic-Font";
      font-size: 24px;
      left: 50%;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      position: absolute;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      z-index: 1;
    }
  }
}

.single-blog:hover .blog-media a:before {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.blog-media a:after {
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  right: 0;
  top: 0;
}

.single-blog:hover .blog-media a:after {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.blog-media a img {
  width: 100%;
}

.blog-content {
  display: block;
  float: left;
  text-align: left;
  width: 60%;
  .post-date {
    color: #7d7d7d;
    display: block;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    &:hover {
    }
  }
  h3 {
    font-size: 18px;
    margin: 0 0 10px;
    a:hover {
    }
  }
  p {
    margin-bottom: 10px;
  }
  .read-more {
    color: #7d7d7d;
    font-family: 'Montserrat';
    font-size: 13px;
    text-transform: uppercase;
    &:hover {
    }
  }
}

/*----------------------------------------*/
/*  12.  Start Project Area
/*----------------------------------------*/

.start-project-area {
  background: rgba(0, 0, 0, 0) url("../../images/start-project-bg.jpg") no-repeat scroll center center;
  background-size: cover;
}

.start-project-wrapper {
  .text {
    h2 {
      color: #fff;
      font-size: 26px;
      margin: 0 0 5px;
      text-transform: capitalize;
    }
    h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 700;
      margin: 0;
    }
  }
  .btn {
    margin-top: 18px;
  }
}

/*----------------------------------------*/
/*  13.  Brand Area
/*----------------------------------------*/

.brand-area {
}

.brand-slider {
  margin-left: -5px;
  margin-right: -5px;
  .owl-item {
    padding: 5px;
  }
}

.single-brand {
  display: block;
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  img {
  }
}

/*----------------------------------------*/
/*  14.  Contact Area
/*----------------------------------------*/

.contact-area {
  background: rgba(0, 0, 0, 0) url("../../images/contact-bg.jpg") no-repeat scroll center center;
  background-size: cover;
}

[data-black-overlay] {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  *:not(.background-image-holder):not(.instafeed--background) {
    z-index: 999;
  }
}

[data-black-overlay="7"]:before {
  opacity: 0.7;
}

.contact-about {
  .contact-logo {
    display: inline-block;
    margin-bottom: 25px;
    img {
    }
  }
  p {
    color: #e1e1e1;
    font-weight: 300;
    margin-bottom: 40px;
  }
  .btn {
    height: 43px;
    line-height: 43px;
    padding-left: 26px;
    i {
      display: block;
      float: left;
      font-size: 20px;
      line-height: 42px;
      margin-right: 15px;
    }
  }
  h2 {
    color: #ffffff;
    &::after, &::before {
      background-color: #ffffff;
    }
  }
}

/* Contact Title */

.contact-title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 14px;
  margin: 0 0 25px;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  span {
  }
  &:before, &:after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    background-color: #fff;
  }
  &:before {
    bottom: 0;
    width: 70px;
  }
  &:after {
    bottom: 5px;
    width: 40px;
  }
}

/* Contact Info */

.contact-info .content p {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: .2px;
  &:first-child {
    margin-bottom: 15px;
  }
  span {
    color: #d2d2d2;
  }
  a:hover {
  }
}

/*----------------------------------------*/
/*  15.  Footer
/*----------------------------------------*/

.footer-area {
  background-color: #1f2f40;
  padding: 13px 0;
}

.footer-copyright p {
  color: #cccccc;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  a {
    color: #ffffff;
    font-weight: 500;
    &:hover {
    }
  }
}

/* Page Breadcrumb */

.page-breadcrumb li {
  display: block;
  float: left;
  margin-right: 15px;
  padding-right: 22px;
  position: relative;
  &:last-child {
    margin: 0;
    padding: 0;
  }
  &:before {
    color: #fff;
    content: ">";
    position: absolute;
    right: 0;
    top: 1px;
  }
  &:last-child:before {
    display: none;
  }
  a {
    color: #fff;
    display: block;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
  }
}

/* Page Pagination */

.pagination {
  margin-bottom: 0;
  width: 100%;
  li {
    display: inline-block;
    margin: 0 3px;
    a {
      background-color: #f1f1f1;
      border: medium none;
      border-radius: 0 !important;
      color: #4f4f4f;
      font-family: 'Montserrat';
      height: 30px;
      line-height: 30px;
      padding: 0;
      width: 30px;
    }
    &.active a {
      color: #fff;
    }
    a i {
      display: block;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

/* Sidebar */

.sidebar-wrapper {
}

.single-sidebar {
  margin-bottom: 45px;
  &:last-child {
    margin-bottom: 0;
  }
}

.sidebar-title {
  color: #6b6b6b;
  font-size: 20px;
  line-height: 16px;
  margin: 0 0 24px;
  padding-bottom: 12px;
  position: relative;
  &:before {
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 72px;
  }
}

/* Sidebar About */

.sidebar-about p {
  color: #7d7d7d;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 22px;
}

/* Sidebar Search */

.sidebar-search form {
  position: relative;
  input {
    border: 1px solid #ededed;
    color: #a5a5a5;
    display: block;
    float: left;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 300;
    height: 33px;
    padding: 0 36px 0 15px;
    width: 100%;
  }
  button {
    background-color: transparent;
    border-color: #ededed;
    border-style: solid;
    border-width: 0 0 0 1px;
    color: #a5a5a5;
    display: block;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    i {
      display: block;
      font-size: 20px;
    }
  }
}

/* Sidebar Catagory */

.sidebar-catagory form select {
  -moz-appearance: none;
  background: rgba(0, 0, 0, 0) url("../../images/select-arrow.png") no-repeat scroll right -1px top -1px;
  border: 1px solid #ededed;
  color: #a5a5a5;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  height: 33px;
  padding: 0 15px;
  width: 100%;
  option {
    padding: 5px 15px;
  }
}

/* Sidebar Tags */

.sidebar-tags {
  margin-right: -12px;
  a {
    border: 1px solid #ededed;
    color: #a5a5a5;
    display: block;
    float: left;
    font-family: 'Montserrat';
    font-size: 14px !important;
    font-weight: 300;
    line-height: 31px;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 0 17px;
  }
}

/* Sidebar Latest Blog */

.sidebar-latest-blog {
}

.sidebar-blog {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  .image {
    display: block;
    float: left;
    margin-right: 15px;
    position: relative;
    width: 78px;
    &:before {
      color: #fff;
      content: "\f18e";
      font-family: "Material-Design-Iconic-Font";
      font-size: 24px;
      left: 50%;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      position: absolute;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      z-index: 1;
    }
  }
  &:hover .image:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  .image:after {
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    top: 0;
  }
  &:hover .image:after {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
  .image img {
  }
  .content {
    h4 {
      color: #7e7e7e;
      font-size: 18px;
      margin: 5px 0;
      a {
      }
    }
    p {
      color: #7a7a7a;
      font-family: 'Montserrat';
      font-weight: 300;
      line-height: 22px;
    }
  }
}

/* Blog Page */

.blog-page, .blog-wrapper {
}

.blog-page {
  .single-blog {
    padding: 0;
  }
  .blog-media {
    width: 30%;
  }
  .blog-content {
    margin-top: 15px;
    width: 70%;
  }
}

/* Blog Details Page */

.blog-details-page, .blog-details-wrapper {
}

.single-blog-details {
  margin-bottom: 60px;
}

.blog-details-media img {
  width: 100%;
}

.blog-details-content {
  padding: 50px;
  .blog-title {
    color: #616161;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 5px;
  }
  .blog-meta {
    margin-bottom: 12px;
    a {
      color: #868585;
      display: block;
      float: left;
      font-family: "Montserrat";
      font-size: 12px;
      line-height: 24px;
      margin-right: 15px;
      i {
        display: block;
        float: left;
        font-size: 14px;
        line-height: 24px;
        margin-right: 7px;
        padding-left: 2px;
      }
    }
  }
  > p {
    color: #6b6b6b;
    font-family: 'Montserrat';
    font-weight: 300;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Blog Meta */

/* Blog Details Footer */

.blog-details-footer {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  padding: 10px 50px;
  .blog-tags {
    p {
      color: #6f6f6f;
      display: block;
      float: left;
      font-family: 'Montserrat';
      margin-bottom: 0;
      margin-right: 3px;
      text-transform: capitalize;
    }
    a {
      color: #898989;
      display: block;
      float: left;
      font-family: 'Montserrat';
      margin-right: 5px;
    }
  }
  .blog-share {
    p {
      color: #6f6f6f;
      display: block;
      float: left;
      font-family: 'Montserrat';
      margin-bottom: 0;
      margin-right: 12px;
      text-transform: capitalize;
    }
    a {
      border: 1px solid #757575;
      border-radius: 50%;
      color: #757575;
      display: block;
      float: left;
      height: 24px;
      margin-right: 8px;
      text-align: center;
      width: 24px;
      &:hover {
        color: #fff;
      }
      &:last-child {
        margin-right: 0;
      }
      i {
        display: block;
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
}

/* Blog Comment List */

.comment-wrapper {
  margin-bottom: 50px;
  h3 {
    color: #6b6b6b;
    font-size: 20px;
    line-height: 16px;
    margin: 0 0 50px;
    padding-bottom: 12px;
    position: relative;
    &:before {
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 72px;
    }
  }
}

.comment-list.old {
  margin-left: 110px;
}

.sin-comment {
  border: 1px solid #ededed;
  margin-bottom: 20px;
  padding: 20px 50px 20px 20px;
  .image {
    border: 2px solid #eaeaea;
    border-radius: 2px;
    margin-right: 20px;
    width: 70px;
    img {
    }
  }
  .content {
    h4 {
      color: #6b6b6b;
      display: block;
      float: left;
      font-size: 18px;
      line-height: 20px;
      margin: 0;
    }
    h5 {
      color: #6b6b6b;
      float: right;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      a {
      }
    }
    p {
      color: #797979;
      display: block;
      float: left;
      font-family: 'Montserrat';
      font-weight: 300;
      line-height: 22px;
      margin-top: 5px;
      width: 100%;
    }
  }
}

/* Blog Comment Form */

.comment-form-wrapper h3 {
  color: #6b6b6b;
  font-size: 20px;
  line-height: 16px;
  margin: 0 0 50px;
  padding-bottom: 12px;
  position: relative;
  &:before {
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 72px;
  }
}

.comment-form form {
  margin-left: -49px;
  margin-right: -49px;
  .input-box {
    display: block;
    float: left;
    margin-bottom: 36px;
    padding-left: 49px;
    padding-right: 49px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    &.box-half {
      width: 50%;
    }
    input {
      &[type="text"], &[type="email"] {
        background-color: transparent;
        border-color: #e0e0e0;
        border-style: solid;
        border-width: 0 0 1px;
        color: #969696;
        font-family: 'Montserrat';
        font-size: 13px;
        font-weight: 300;
        height: 38px;
        line-height: 24px;
        padding: 7px 0;
        width: 100%;
      }
    }
    textarea {
      background-color: transparent;
      border-color: #e0e0e0;
      border-style: solid;
      border-width: 0 0 1px;
      color: #969696;
      font-family: 'Montserrat';
      font-size: 13px;
      font-weight: 300;
      height: 38px;
      line-height: 24px;
      padding: 7px 0;
      width: 100%;
      height: 85px;
      resize: none;
    }
    input[type="submit"] {
      border: medium none;
      border-radius: 50px;
      color: #fff;
      font-family: 'Montserrat';
      font-size: 13px;
      font-weight: 700;
      height: 46px;
      letter-spacing: 1.5px;
      line-height: 48px;
      text-transform: uppercase;
      width: 180px;
      &:hover {
        background-color: #2d3e50;
      }
    }
  }
}

/* Color Switcher */

.sidebarmain.ec-colorswitcher {
  left: 0px;
}

.ec-colorswitcher {
  background: #fff none repeat scroll 0 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  left: -260px;
  padding: 20px;
  position: fixed;
  top: 25%;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  width: 260px;
  z-index: 2147483647;
  float: left;
}

.ec-handle {
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 20px;
  height: 40px;
  position: absolute;
  right: -40px;
  text-align: center;
  top: 0px;
  width: 40px;
  border: none;
  i {
    line-height: 38px;
  }
}

.ec-colorswitcher {
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  h6 {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
}

.ec-switcherarea {
  float: left;
  width: 100%;
}

.layout-btn {
  margin-bottom: 20px;
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  a {
    float: left;
    padding: 0 5px 0 5px;
    width: 50%;
    span {
      color: #fff;
      float: left;
      font-weight: 600;
      padding: 5px 10px;
      text-align: center;
      -webkit-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      width: 100%;
      &:hover {
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      }
    }
  }
}

.ec-switcherarea {
  ul.ec-switcher {
    margin-left: -2px;
    margin-right: -2px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .ec-switcher li {
    float: left;
    list-style: outside none none;
    margin-bottom: 4px;
    padding-left: 2px;
    text-align: center;
    width: 20%;
    padding-right: 2px;
    a {
      float: left;
      height: 20px;
      width: 100%;
      position: relative;
    }
  }
}

.ec-pattern, .ec-background {
  float: left;
  overflow: hidden;
  width: 100%;
}

.pattern-wrap {
  margin-left: -2px;
  margin-right: -2px;
  overflow: hidden;
  margin-bottom: 16px;
}

.background-wrap {
  margin-left: -2px;
  margin-right: -2px;
  overflow: hidden;
  margin-bottom: 16px;
  margin-bottom: 0;
}

.pattern-wrap a, .background-wrap a {
  float: left;
  padding: 0 2px;
  width: 20%;
  background-image: none;
}

.pattern-wrap a img, .background-wrap a img {
  border: 1px solid #ddd;
  width: 100%;
}

.cs-color-1 {
  background: #44b272;
}

.cs-color-2 {
  background: #05c3f9;
}

.cs-color-3 {
  background: #2196F3;
}

.cs-color-4 {
  background: #00BCD4;
}

.cs-color-5 {
  background: #F44336;
}

.cs-color-6 {
  background: #E91E63;
}

.cs-color-7 {
  background: #9C27B0;
}

.cs-color-8 {
  background: #673AB7;
}

.cs-color-9 {
  background: #3F51B5;
}

.cs-color-10 {
  background: #009688;
}

.cs-color-11 {
  background: #8BC34A;
}

.cs-color-12 {
  background: #CDDC39;
}

.cs-color-13 {
  background: #FFEB3B;
}

.cs-color-14 {
  background: #FFC107;
}

.cs-color-15 {
  background: #FF9800;
}

.cs-color-16 {
  background: #FF5722;
}

.cs-color-17 {
  background: #795548;
}

.cs-color-18 {
  background: #607D8B;
}

.cs-color-19 {
  background: #8470FF;
}

.cs-color-20 {
  background: #FF5D75;
}

.what-we-do-features {
  h3 {
    > span {
      background: #44b272 none repeat scroll 0 0;
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      margin-right: 30px;
      position: relative;
      text-align: center;
      transition: all 500ms ease-in-out 0s;
      width: 50px;
      @media only screen and (max-width: 768px) {
        margin-right: 10px;
      }
    }
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 15px;
    transition: all 500ms linear 0s;
    i {
      color: #ffffff;
      display: block;
      line-height: 50px;
    }
    &.text-right > span {
      margin-left: 30px;
      margin-right: 0;
      @media only screen and (max-width: 768px) {
        margin-left: 10px;
      }
    }
  }
  a:hover {
    h3 > span {
      background: #5b5b5b none repeat scroll 0 0;
    }
    p {
      color: #5b5b5b;
    }
  }
}

.no-padding {
  padding: 0px !important;
}

.menu-phone {
  font-size: 24px !important;
  vertical-align: middle;
  margin-right: 10px;
}

.free-quote {
  cursor: pointer;
  color: #fff;
  @media only screen and (min-width: 991px) {
    position: relative;
    border-bottom: 10px solid #44b272;
    margin-top: -20px;
    border-top: 10px solid #44b272;
    padding: 15px;
    background: #44b272;
    &:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 60px solid transparent;
      border-right: 60px solid transparent;
      border-top: 10px solid #44b272;
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: -57px;
    }
  }
  @media only screen and (max-width: 992px) {
    margin-right: 40px;
  }
}

.contact-form {
  input {
    &[type=text], &[type=email], &[type=password] {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background: transparent none repeat scroll 0 0;
      border-color: -moz-use-text-color -moz-use-text-color #666;
      border-image: none;
      border-style: none none solid;
      border-width: medium medium 1px;
      color: #fff;
      font-size: 16px;
      height: 35px;
      line-height: 35px;
      padding-left: 30px;
      width: 100%;
      position: relative;
    }
  }
  textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #666;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #fff;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    padding-left: 30px;
    width: 100%;
    position: relative;
    min-height: 120px;
    resize: none;
    width: 100%;
  }
  input[type="submit"] {
    border: medium none;
    border-radius: 50px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    height: 38px;
    letter-spacing: 1.5px;
    line-height: 40px;
    text-transform: uppercase;
    width: 170px;
  }
  input[type="submit"]:hover {
    background-color: #fff;
    color: #44b272;
  }
  .has-error {
    input, textarea {
      border-color: -moz-use-text-color -moz-use-text-color #ce4844 !important;
      border-color: #ce4844 !important;
    }
  }
}

/* Start Input type placeholder test styling*/

::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.sub-form-wrap input {
  &::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
    opacity: 1;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #000;
    opacity: 1;
  }
}

/* End Input type placeholder test styling*/

.single-input {
  margin-bottom: 50px;
  position: relative;
  &::before {
    color: #fff;
    font-family: FontAwesome;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &.name::before {
    content: "\f007";
  }
  &.email::before {
    content: "\f1d8";
  }
  &.message::before {
    content: "\f27a";
    top: 7px;
    transform: none;
  }
}

.one-half {
  float: left;
  width: 50%;
  &.left {
    padding-right: 15px;
  }
  &.right {
    padding-left: 15px;
    &.single-input::before {
      left: 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
    &.right {
      padding-left: 0px;
      &.single-input::before {
        left: 0px;
      }
    }
  }
}

.btn {
  background: #0099ff none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  text-transform: uppercase;
  &:hover {
    background: #006699 none repeat scroll 0 0;
  }
}

.single-address {
  i {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 7px;
  }
  h4 {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 3px;
    text-transform: uppercase;
  }
  color: #fff;
  a {
    color: #fff;
  }
  p, a {
    font-family: lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
}

.gray-bg {
  background: #f5f5f5 none repeat scroll 0 0 !important;
}

.section-title h2 span, .main-text-color, .menu-phone, .btn.hover-white:hover, #scrollUp, .header-top-wrapper-1 ul li a:hover, .hero-slider-1 .single-slide .content h1 span, .hero-static-text .content h1 span, .hs1-control .flex-control-nav li a.flex-active, .hero-social-1 a:hover {
  color: #44b272;
}

.hero-scroll-down {
  &:hover, &:focus {
    color: #44b272;
  }
}

.single-service i, .portfolio-filter ul li:hover, .single-portfolio .content .icon:hover, .single-portfolio-modal .content .details li a:hover, .team-social a:hover, .testimonial-slider .owl-nav div:hover {
  color: #44b272;
}

.blog-content {
  .post-date:hover, h3 a:hover, .read-more:hover {
    color: #44b272;
  }
}

.contact-title span, .contact-info .content p a:hover, .contact-form .input-box input[type="submit"]:hover, .footer-copyright p a:hover, .page-breadcrumb li a:hover, .sidebar-tags a:hover, .sidebar-search form button:hover, .sidebar-blog .content h4:hover a, .pagination li a:hover, .blog-details-content .blog-meta a:hover, .blog-details-footer .blog-tags a:hover, .sin-comment .content h5 a {
  color: #44b272;
}

.btn, #scrollUp:hover, .portfolio-filter ul li.active, .single-portfolio .image::before, .funfact-area::before {
  background-color: #44b272;
}

.single-testimonial .content {
  background-color: #44b272;
  &::before {
    background-color: #44b272;
  }
}

.blog-media a::after, .sidebar-title::before, .sidebar-blog .image::after, .pagination li.active a, blockquote, .blog-details-footer .blog-share a:hover, .comment-wrapper h3::before, .comment-form-wrapper h3::before, .layout-btn a span, .object, .comment-form form .input-box input[type="submit"], .contact-form input[type="submit"] {
  background-color: #44b272;
}

.btn, .hero-scroll-down {
  border-color: #44b272;
}

.portfolio-filter ul li {
  &:hover, &.active {
    border-color: #44b272;
  }
}

.testimonial-author img, .sidebar-tags a:hover, .blog-details-footer .blog-share a:hover {
  border-color: #44b272;
}

/* Logo Background Color Darker */

.what-we-do-features {
  h3 > span {
    background: #44b272 none repeat scroll 0 0;
  }
  a:hover h3 {
    color: #44b272;
  }
}
